PORT=3010
HTTPS=false
SSL_CERT=/opt/certs/snipe-mobile/snipe-mobile.crt
SSL_KEY=/opt/certs/snipe-mobile/snipe-mobile.key
SNIPEIT_URL=https://equipamentos.censupeg.com.br
SNIPEIT_TOKEN=cole_o_token_aqui
DB_CLIENT=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=snipe_mobile
DB_USER=snipe_mobile
DB_PASSWORD=troque_esta_senha
DB_CONNECTION_LIMIT=10
SMTP_HOST=smtp.seudominio.com.br
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=usuario_smtp
SMTP_PASS=senha_smtp
SMTP_FROM=ti@seudominio.com.br
